
body {
    font-family: 'Arial' !important;
    font-size: 16pt;
    background: white !important;
    padding: 10px;
    margin: 0;
    padding-top: 70px;
        counter-reset: Serial;
}
h1 {
    text-align: center;
}

.container-fluid {
   background-color: white;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    }

.row {
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
#btn-row{
    padding: 15px;
    margin-bottom: 10px;
}
.text-help{
    font-family: 'Arial' !important;
    font-size: 18pt;
}
.option-text{
     font-family: 'Arial' !important;
    font-size: 16pt;
}
table
{
    border-collapse: separate;
}

tr td:first-child:before
{
  counter-increment: Serial;      /* Increment the Serial counter */
  content:  counter(Serial); /* Display the counter */
}
