<!DOCTYPE html>
<html lang="ru">
<head>
    {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <meta charset="UTF-8">
    <title>CTRLS BOMs</title>
     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <p class="navbar-text navbar-right">Signed in as {{ request.user }} <a href="/logout/" class="navbar-link">| Logout</a></p>
        <div class="navbar-header">

      <a class="navbar-brand" href="/">Agrus registration app</a>
    </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      </div>
  </div>
</nav>

<div id="elem-view" class="container-fluid">
<h2 >Спецификации контроллеров</h2>
<div class="row">
  <a href="/agrus/add_bom"><button style="float:right" class="btn btn-default">Добавить новую спецификацию</button></a>
</div>
<br>
    {% if bom_view %}
<table class="table table-striped">
    <tr>
        <th>№</th>
        <th>Название контроллера</th>
        <th>Артикул элемента</th>
        <th>Название элемента</th>
        <th>Количество элементов</th>
        <th>Информация об элементе</th>
        <th>Посадочное место</th>
    </tr>

        {% for boms in bom_view %}


    <tr>
    <td></td>
     {% for ctrls in ctrls_view %}{% if ctrls.ctrl_id == boms.ctrl_id %}<td>{{ ctrls.ctrl_name }}</td>{%endif%}{% endfor %}
     {% for elements in elements_view %}
         {% if elements.element_id == boms.element_id %}
         <td>{{ elements.element_articul}}</td>
         <td>{{ elements.element_name }}</td>
         <td>{{ boms.elements_quantity }}</td>
         <td>{{ elements.element_description }}</td>
         <td>{{ elements.elements_footprint}}</td>
         {% endif %}
     {% endfor %}
    </tr>
{% endfor %}
         </table>
        {% else %}
        <p align="center" class="text-danger">В базе, пока что нет спецификаций контроллеров</p>
    {% endif%}
</div>
</body>
</html>
