<!DOCTYPE html>
<html lang="ru">
    {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
<head>
    <meta charset="UTF-8">
    <title>Agrus</title>
     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
<p class="navbar-text navbar-right">Signed in as {{ current_user }} <a href="/logout/" class="navbar-link">| Logout</a></p>
        <div class="navbar-header">
         <a class="navbar-brand" href="/">Agrus registration app</a>
    </div>

  </div>
</nav>


    <div class="container-fluid">
        <p class="text-center text-help" >Выберите операцию которую хотите осуществить:</p>
        <div class="row" id="btn-row">
                <div class="stock" >
                <a href="/agrus/stock"> <button class="btn btn-default menu-btn" style="margin:auto; float:center !important;">Просмотреть остаток на складе</button></a>
                </div>
                <div class="row stock">
                 <a href="/agrus/ctrls"> <button class="btn target btn-default menu-btn">Просмотреть базу данных контроллеров</button></a>
                 <a href ="/agrus/elements"> <button class="btn  btn-default menu-btn">Просмотреть базу данных елементов</button></a>
                 <a href="/agrus/bom" > <button class="btn  btn-default menu-btn">Просмотреть спецификации контроллеров</button></a>
                 <a href="/agrus/orders"> <button class="btn  btn-default menu-btn">Просмотреть историю заказов</button></a>
               </div>
               <div class="row stock">
                <a href="/agrus/purchases"><button class="btn  btn-default menu-btn">Просмотреть историю закупок</button></a>
                <a href="/agrus/consumptions"><button class="btn  btn-default menu-btn">Просмотреть историю расходов</button></a>
                <a href="/agrus/suppliers"><button class="btn  btn-default menu-btn">Просмотреть базу данных поставщиков</button></a>
                <a href="/agrus/clients"><button class="btn  btn-default menu-btn">Просмотреть базу данных клиентов</button></a>
                </div>
        </div>
</div>
</body>
</html>
